dataId = /Users/nebula/mylab/copyDetection/xcode_search/IVFADC4/avideo/
nt = 2
coarsek = 256
train_desc = /Users/nebula/mylab/copyDetection/data/avideo/
index_desc = /Users/nebula/mylab/copyDetection/data/avideo/
query_desc = /Users/nebula/mylab/copyDetection/data/avideo_query/
nsq = 64
nsqbits = 8
dim = 8192
iter = 50
attempts = 4
num_ret = 10
ma = 1
w = 1
