train_desc = /state/partition1/total/
index_desc = /state/partition1/total/
query_desc = /state/partition1/coreKeyframe/4/
resnum = 4
dataId = coreData_8_5
num_ret = 50
dim = 128
nt = 8
attempts = 4
iter = 50
bf = 8
num_layer = 5
ma = 5
ht = 10
pmat = pmat_32.mat
im_size = 320
search_mode = 1
verbose = 1
